html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eae8e4;
  background: linear-gradient(50deg, #eae8e4, #fff);
  text-align: center;
  min-height: 100%;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 144px;
}

.test-test {
  background: 
  linear-gradient(0deg, #D65B3E, rgba(255, 255, 255, 0) 100%),
  linear-gradient(246.9deg, #00A0B0 15%, rgba(255, 255, 255, 0) 70%),
linear-gradient(180deg, #5C609F 0%, rgba(255, 255, 255, 0) 60%);
  background-size: 400%;
  text-align: left;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: bg-color 4s linear infinite; /* Chrome, Safari 5 */
  -moz-animation: bg-color 4s linear infinite; /* Firefox 5-15 */
  -o-animation: bg-color 4s linear infinite; /* Opera 12+ */
  animation: bg-color 4s linear infinite; /* Chrome, Firefox 16+, IE 10+, Safari 5*/
}
  
@keyframes bg-color {
  0% {
    background-position: left
  }
  50% {
    background-position: right
  }
  
  100% {
    background-position: left
  }
}